.ven{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url('https://tse2.mm.bing.net/th?id=OIP.C24FZwMLwFNl9kTB2UuolQHaDt&pid=Api&P=0&h=180');
    background-size: cover;
    box-shadow:  -25px -25px 25px black inset, 10px 10px 30px white inset, 0px 0px 20px #FF4500;
    position: relative;
    animation: v 4s infinite linear;
}
@keyframes v{
    to{
        background-position: 100%;
    }
}